$color-orange: #e87c03;
$color-main-light: #f4f5f9;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #b3b3b3;
$color-red: #e50914;

/* Fonts */
$font-heading-1-mobile: 32px;
$font-heading-1-tablet: 40px;
$font-heading-1-desktop: 64px;

$itemGrow: 1.2;
$duration: 250ms;
